:root {
    --header-bg: #e3e4e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant";
}
body {
    overflow-x: hidden;
    color: white;
}

button {
    border: none;
    font-family: inherit;
}
a, li {
    list-style: none;
    text-decoration: none;
    color: black;
}
p {
    font-size: 20px;
    /* font-weight: 700; */
}

/* Header */
header nav {
    background: var(--header-bg);
}


/* Dropdown */
.section.menu > * {
    background: var(--header-bg);
    border: 2px solid black;
    text-decoration: underline black;
}



/* Main */