:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Assistant";
}
body {
    overflow-x: hidden;
    color: white;
}

button {
    border: none;
    font-family: inherit;
}
a, li {
    list-style: none;
    text-decoration: none;
    color: white;
}
p {
    font-size: 20px;
    font-weight: 700;
}

/* Main */

.info .title {
    padding: 5px 10px;
    border: 2px solid white;
    width: fit-content;
}

.cards-container > * {
    /* border: 2px solid white; */
    /* background: #999b9e; */
    padding: 0.5rem;
    height: fit-content;
}
.cards-container h2 {
    text-decoration: underline;
}